<div class="jumbotron-content">
  <h1>Relevant Links</h1>
  <p class="jumbotron-lg-only"></p>

</div>

<h1>Meet Trendy</h1>
<div class="rightside">
	<p>Trendy is a tool that lets you overlay google trends with other time series. Right now it works with stock symbols (inc. etfs and some market indexes), bitcoin, gold prices and housing data.  Check it out <a href='/trendy'>here</a>.</p>

  <p><i>Why would you use Trendy?</i> </p>
  <p>There have been several studies on using Google Trends to make predictions, from flu patterns to auto sales to stock market swings. While the results were in some cases mixed, there seems to be a lot of room for exploration. Afterall, is there any more interesting set of data than what the world is searching for? </p>

  <p>Using Trendy, you can look for interesting correlations between search interest and "real world" time series (such as stock prices). </p>

	
</div>