<div class="jumbotron-content">
  <h1>Contact Me:</h1>
  <p class="jumbotron-lg-only"></p>
  <div class="adr">

    <h4><a href="https://github.com/arjunvasan" rel="nofollow"><i class="fa fa-fw fa-github"></i>&nbsp;github.com/arjunvasan</a></h4>

    <h4><a href="https://arjunvasan.com" rel="nofollow"><i class="fa fa-fw fa-globe"></i>&nbsp;arjunvasan.com</a></h4>

    <h4><a href="mailto:arjun.vasan@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;arjun.vasan@gmail.com</a></h4>

    <h4>&nbsp;<a class="undefined needsclick" contenteditable="false" data-placeholder="Phone"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;562-900-6541</a></h4>

    <h4>&nbsp;<a class="undefined needsclick" contenteditable="false" data-placeholder="Location"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;Mountain View, CA</a></h4>

  </div>
</div>
<h1>Hello World</h1>
<div class="rightside">
	<p>Arjun here. This is my personal website. I'm building it from scratch on google's appengine. As it evolves, I will push the code on GitHub. I'm usually working on random side projects and I plan on hosting some of them here as well. Right now, you can check out <a href="/trendy">Trendy</a>, an app that let's you overlay Google Trends with other time series.  
</div>