<div class="row" style="text-align:center">
  <footer>
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li>
        <a href="#" id="prev_date" aria-label="Previous">
          <span aria-hidden="true">Prev &laquo;</span>
        </a>
      </li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li>
        <a href="#" id="next_date" href="{{url}}" aria-label="Next">
          <span aria-hidden="true"Next >&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  </footer>
</div>