<div class="jumbotron-content">
  <h1>Contact:</h1>
  <p class="jumbotron-lg-only"></p>
  <div class="adr">

    <h4 class='text-primary'><a href="https://github.com/arjunvasan" class="side" target="_blank" rel="nofollow"><i class="fa fa-fw fa-github"></i>&nbsp;github.com/arjunvasan</a></h4>

    <h4><a href="https://arjunvasan.com" class="side" rel="nofollow"><i class="fa fa-fw fa-globe"></i>&nbsp;arjunvasan.com</a></h4>

    <h4 class='text-primary'><a href="/cv" class="side" rel="nofollow"><i class="fa fa-fw fa-file-text"></i>&nbsp;My CV</a></h4>
  </div>

  <h1>Projects:</h1>
  <p class="jumbotron-lg-only"></p>
  <div class="adr">

    <h4 class='text-primary'><a href="/trendy" class="side" rel="nofollow"><i class="fa fa-fw fa-line-chart"></i>&nbsp;Trendy</a></h4>

  </div>

  <h1>Articles:</h1>
  <p class="jumbotron-lg-only"></p>
  <div class="adr">

    <h4 class='text-primary'><a href="/r/trendy" class="side" rel="nofollow"><i class="fa fa-fw fa-file-text-o"></i> Meet Trendy</a></h4>

  </div>

</div>
<h1>Hello World</h1>
<div class="rightside">
	<p>Arjun here. This is my personal website. I'm building it from scratch on google's appengine. As it evolves, I will document progress & new features with articles here and code on GitHub. </p>
  <p>I'm usually working on a side project or two and I plan on hosting some of them here as well. Right now, you can check out <a href="/trendy">Trendy</a>, an app that lets you overlay Google Trends with other time series. </p>

  <pre>~: lunch = [cheese for cheese in cheeses if cheese != 'cheddar']</pre>

</div>